*.arc
*.bin
*.cdf
*.F
*.fst
*.gtkw
*.hex
*.jpg
*.key
*.log
*.lst
*.nvm
*.qpf
*.qsf
*.raw
*.rbf
*.rbf_r
*.rom
*.vlt
*.xml
*.zip
.DS_Store
a.out
cheat/*.bin
cheat/*.fmt
core.def
cores/*/mc2
cores/*/mcp
cores/*/mist
cores/*/mister/*
cores/*/neptuno/*
cores/*/sidi/*
cores/s16/mister/output_*
db
defmacros.h
firmware/*.c2
game_test.v
history
incremental_db
jtsim.f
jtsim_vhdl.f
log
macros.f
obj_dir
test.cpp
ver/game/*.bin
ver/game/*.f
ver/game/*.jpg
waiver