[submodule "modules/jtframe"]
	path = modules/jtframe
	url = https://github.com/jotego/jtframe
[submodule "modules/jt51"]
	path = modules/jt51
	url = https://github.com/jotego/jt51
[submodule "modules/fx68k"]
	path = modules/fx68k
	url = https://github.com/ijor/fx68k.git
[submodule "modules/jt8255"]
	path = modules/jt8255
	url = https://www.github.com/jotego/jt8255
[submodule "modules/jt7759"]
	path = modules/jt7759
	url = https://github.com/jotego/jt7759.git
