*.qpf
*.qsf
*.bin
*.zip
*.rom
*.fst
*.log
*.hex
*.jpg
*.cdf
*.arc
cheat/*.bin
cheat/*.fmt
history
ver/game/*.f
ver/game/*.bin
ver/game/*.jpg
cores/s16/mister/output_*
obj_dir
db
incremental_db
cores/s*/mister/*
cores/s*/neptuno/*
cores/s*/sidi/*
cores/s*/mc2
cores/s*/mcp
cores/s*/mist
macros.f
core.def
jtsim.f
jtsim_vhdl.f
