*.qpf
*.qsf
*.bin
*.zip
*.rom
*.fst
*.log
*.hex
*.jpg
*.cdf
*.arc
*.key
*.xml
*.nvm
*.lst
*.raw
a.out
.DS_Store
game_test.v
waiver
defmacros.h
*.vlt
*.F
*.gtkw
cheat/*.bin
cheat/*.fmt
history
ver/game/*.f
ver/game/*.bin
ver/game/*.jpg
cores/s16/mister/output_*
obj_dir
db
incremental_db
cores/*/mister/*
cores/*/neptuno/*
cores/*/sidi/*
cores/*/mc2
cores/*/mcp
cores/*/mist
macros.f
core.def
jtsim.f
jtsim_vhdl.f
log
firmware/*.c2
